@media (max-width: 576px) {
    footer {
        display: none;
    }

    .btn-order {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 11.8145px;
        line-height: 18px;
        padding: 17px 47px;
        border: 0;
        background: linear-gradient(90.4deg, #C94CF4 -32.37%, #25CBFF 93.03%), #FFFFFF;
        box-shadow: 10px 0px 56px rgba(38, 203, 255, 0.3), -10px 0px 56px rgba(154, 113, 248, 0.5);
        border-radius: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    button#toggle-menu {
        display: block;
    }

    button#toggle-menu svg {
        width: 40px;
        height: 40px;
    }

    #primary-menu {
        display: none;
        background: #fff;
        width: 80%;
        position: absolute;
        /* display: flex; */
        left: 0px;
    }

    ul.nav-pills li.nav-item a {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 28px;
        color: #989898;
    }

    a.logotype {
        padding-left: 25px;
    }

    a.logotype img {
        width: 136px;
        height: 40px;
    }


    .primary-screen {
        height: 714px;
        position: relative;
        z-index: 1;
        padding-top: 108px;
        margin-bottom: 80px;
    }

    .primary-screen::before {
        content: '';
        position: absolute;
        width: 1440px;
        height: 692px;
        left: calc(50% - 1440px/2);
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(262px);
        z-index: 5;
    }

    .primary-screen::after {
        content: '';
        position: absolute;
        width: 1440px;
        height: 692px;
        left: calc(50% - 1440px/2);
        top: 150px;
        background: url('../images/illustration_bg.svg');
        z-index: -1;
    }

    .primary-screen-start-block {
        z-index: 7;
    }

    .primary-screen-end-block {
        position: relative;
        z-index: 7;
        margin-top: 60px;
    }

    .primary-screen-end-block::before {
        content: '';
        position: absolute;
        width: 316px;
        height: 308.1px;
        left: 50%;
        margin-left: -158px;
        top: 0px;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.30272px);
        border-radius: 16.7454px;
        z-index: -1;
    }

    .primary-screen-end-block .gradient-circle {
        position: absolute;
        width: 550.77px;
        height: 550px;
        border-radius: 50%;
        right: 20px;
        top: 120px;
        background: rgba(76, 93, 244, 0.5);
        filter: blur(102px);
        z-index: 1;
    }

    .primary-screen-end-block .gradient-round {
        position: absolute;
        width: 695px;
        height: 559px;
        left: -137.38px;
        top: 92.39px;
        border-radius: 280px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.476) 49.72%, rgba(201, 76, 244, 0.4) 75.27%);
        filter: blur(92px);
        z-index: 2;
    }

    .primary-screen-end-block .gradient-img {
        position: absolute;
        width: 550.77px;
        height: 550px;
        left: 0;
        top: 0;
        background: rgba(76, 93, 244, 0.5);
        filter: blur(102px);
    }

    .primary-screen-start-block {
        padding-top: 35px;
    }

    .primary-screen-start-block .pre-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.4) -32.37%, rgba(37, 203, 255, 0.4) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        margin-bottom: 10px;
    }

    .primary-screen-start-block .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        text-shadow: 0px 2.99358px 23.9487px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
    }

    .primary-screen-start-block .title>strong {
        display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        line-height: 110%;
    }

    .primary-screen-start-block .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(93.41deg, #FFFFFF 44.08%, rgba(44, 198, 255, 0) 155.18%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
    }

    .primary-screen-start-block button {
        margin: 0 auto;
        display: block;
    }

    .primary-screen-end-block img.product-server {
        width: 348px;
        height: 304px;
        left: 50%;
        margin-left: -190px;
        top: -15px;
        position: absolute;
        z-index: 5;
    }

    .gradient-ellipse-left {
        position: absolute;
        width: 86.52px;
        height: 124.47px;
        left: 130.32px;
        top: 122.03px;
        background: #00B2FF;
        mix-blend-mode: screen;
        filter: blur(34.6072px);
        z-index: 8;
    }

    .gradient-ellipse-right {
        position: absolute;
        width: 86.52px;
        height: 174.71px;
        left: 315.22px;
        top: 86.05px;
        background: rgba(0, 178, 255, 0.6);
        mix-blend-mode: screen;
        filter: blur(34.6072px);
        z-index: 8;
    }

    .gradient-linear {
        display: none;
    }

    .gradient-ellipse-circle {
        position: absolute;
        width: 310px;
        height: 310px;
        left: 50%;
        top: 10px;
        margin-left: -155px;
        background: rgba(76, 144, 244, 0.9);
        filter: blur(56.9345px);
    }

    .product-section {
        position: relative;
        height: 760px;
        padding-top: 50px;
        padding-bottom: 40px;
        z-index: 8;
        margin-top: 70px;
    }

    .in-section-start {
        z-index: 8;
        position: relative;
    }

    .product-section .title-section {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.3) -32.37%, rgba(37, 203, 255, 0.3) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .product-section .text-section {
        max-width: 315px;
        margin: 0 auto 60px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 1.42104px 11.3683px rgba(0, 0, 0, 0.25);
    }

    .in-section-ai::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 600px;
        left: 0px;
        top: 12p5x;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.59) 28.76%, rgba(201, 76, 244, 0.59) 61.12%);
        filter: blur(200px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
    }

    .ai-bounce-sm {
        display: none;
    }

    .ai-bounce-xs {
        position: absolute;
        width: 205px;
        height: 205px;
        left: -20px;
        top: 135px;
        background: url('../images/bounce-xs.svg') no-repeat;
        background-size: contain;
        opacity: 1;
        z-index: 3;
    }

    .ai-bounce-md {
        position: absolute;
        width: 640px;
        height: 640px;
        left: 25px;
        top: 300px;
        opacity: 0.2;
        transform: rotate(-75deg);
        background: url('../images/bounce-md.svg') no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .in-section-game::before {
        content: '';
        width: 375px;
        height: 509px;
        left: 0px;
        top: 127px;
        background: linear-gradient(85.81deg, rgba(37, 203, 255, 0.5) 39.44%, rgba(76, 184, 244, 0.5) 89.61%);
        filter: blur(187px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
    }

    .game-bg-sm {
        position: absolute;
        width: 420px;
        height: 510px;
        left: 50%;
        margin-left: -100px;
        top: 184px;
        opacity: 0.2;
        filter: blur(5px);
        transform: rotate(330deg);
        background: url('../images/game-bg-sm.svg') no-repeat;
        z-index: 21;
    }

    .game-bg-md {
        position: absolute;
        width: 450px;
        height: 450px;
        left: -29px;
        top: 450px;
        opacity: 1;
        /* filter: blur(10px); */
        background: url('../images/game-bg-md.svg') no-repeat;
        z-index: 3;
        transform: rotate(347deg);
        background-size: cover;
    }

    .in-section-education::before {
        content: '';
        width: 375px;
        height: 600px;
        left: 0px;
        top: 127px;
        background: linear-gradient(85.81deg, rgba(255, 37, 246, 0.7) 39.44%, rgba(76, 123, 244, 0.7) 89.61%, rgba(244, 76, 197, 0.7) 89.61%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
        border-radius: 50%;
    }

    .resource-conus {
        position: absolute;
        width: 857px;
        height: 952px;
        left: -102px;
        top: 123px;
        background: url('../images/resource3.svg') no-repeat;
        background-size: contain;
        transform: rotate(358deg);
        z-index: -2;
    }

    .in-section-trading::before {
        content: '';
        width: 375px;
        height: 620px;
        left: 0px;
        top: 180px;
        background: linear-gradient(85.81deg, rgba(37, 203, 255, 0.8) 39.44%, rgba(76, 123, 244, 0.8) 89.61%);
        filter: blur(217px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
    }


    .tablet-md {
        position: absolute;
        width: 276px;
        height: 205px;
        left: 50%;
        margin-left: -138px;
        top: 450px;
        opacity: 1;
        background: url('../images/tablet-md.svg') no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .tablet-sm {
        width: 290px;
        height: 221px;
        left: 18px;
        top: 270.69px;

        opacity: 1;
        background: url('../images/tablet-sm.svg') no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .card {
        height: 250px;
        position: relative;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(4.025px);
        border-radius: 11.5px;
        border: 0;
        transition: all 0.5s;
    }

    .card-image {
        position: relative;
        width: 100%;
        height: 87px;
        overflow: hidden;
    }

    .card-image::before {
        content: '';
        background: linear-gradient(0deg, rgba(201, 76, 244, 0.34), rgba(201, 76, 244, 0.34));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 87px;
        border-radius: 11.5px 11.5px 0px 0px;
        transition: all 0.5s;
    }

    .card img {
        border-radius: 11.5px 11.5px 0px 0px;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 140%;
        color: #FFFFFF;

    }

    .card-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 160%;
        color: #CBCBCB;
    }

    .product-section-start {
        padding-top: 0;
        z-index: 7;
    }

    .product-contact {
        position: relative;
        height: 635px;
        padding-top: 55px;
        padding-bottom: 55px;
        z-index: 8;
    }

    .product-contact-start .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90deg, rgba(50, 194, 255, 0.4) 0%, rgba(142, 122, 249, 0.4) 55.6%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .product-contact-start .text {
        max-width: 325px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
        margin: 0 auto 80px;
    }

    .chart-lg {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 250px;
        margin-left: -250px;
        top: 25px;
        transform: rotate(0deg);
        opacity: 1;
        background: url('../images/chart-xs.svg') no-repeat center center;
        background-size: contain;
        z-index: 3;
    }

    .product-contact-end {
        position: absolute;
        top: 40%;
        z-index: 8;
    }

    .product-contact-end .percent {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 152.943px;
        line-height: 125px;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.2) -32.37%, rgba(37, 203, 255, 0.2) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        mix-blend-mode: normal;
        text-shadow: 0px 5.09811px 40.7849px rgba(0, 0, 0, 0.25);
        margin: 50px 0 10px;
    }

    .product-contact-end .description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
        color: #8A8A8E;
    }

    .product-contact-start .btn-order {
        position: absolute;
        bottom: 60px;
        left: 50%;
        /* margin: 0 auto; */
        margin-left: -62px;
    }

    .in-product-contact::before {
        content: '';
        position: absolute;
        width: 377px;
        height: 800px;
        left: 0px;
        top: 0px;
        background: linear-gradient(87.18deg, rgba(37, 111, 255, 0.5) 38.28%, rgba(191, 76, 244, 0.5) 91.79%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }


    .primary-screen-end-block img.techno-primary-image {
        width: 400px;
        height: 380px;
        left: 50%;
        margin-left: -214px;
        top: -60px;
        position: absolute;
        z-index: 5;
    }


    .primary-screen-start-block .title.techno-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        text-shadow: 0px 2.99358px 23.9487px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
    }

    .primary-screen-techno-end-block .gradient-round {
        position: absolute;
        width: 1px;
        height: 559px;
        left: -137.38px;
        top: 92.39px;
        border-radius: 280px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.476) 49.72%, rgba(201, 76, 244, 0.4) 75.27%);
        filter: blur(92px);
        z-index: 2;
    }

    .primary-screen-techno-end-block .gradient-circle {
        position: absolute;
        width: 307.43px;
        height: 307px;
        left: 50%;
        margin-left: -153px;
        top: 20px;
        background: rgba(76, 93, 244, 0.5);
        filter: blur(56.9345px);
        z-index: 1;
    }

    /* .techno-bg-gradient::after {
        content: '';
        position: absolute;
        width: 370px;
        height: 1375px;
        left: 0px;
        top: 10px;
        background-color: #f09;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(186.5px);
        transform: rotate(90deg);
    } */

    .fundation {
        height: 457px;
        position: relative;
        z-index: 1;
        margin-top: 120px;
    }

    .fundation::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 1px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(186.5px);
        transform: rotate(90deg);
        z-index: -1;
    }

    .in-fundation {
        margin-top: 70px;
        text-align: center;
        margin-bottom: 30px;
    }

    .in-fundation .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
    }

    .in-fundation .title strong {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90deg, rgba(50, 194, 255, 0.4) 0%, rgba(142, 122, 249, 0.4) 55.6%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .in-fundation .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
    }

    .grid-col {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    .lines .top-horizontal {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 11px;
        height: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .center-horizontal {
        position: absolute;
        width: 76%;
        left: 12%;
        top: 50%;
        height: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .bottom-horizontal {
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: 9px;
        height: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .top-vertical {
        position: absolute;
        height: 80%;
        left: 12%;
        top: 10%;
        width: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .center-vertical {
        position: absolute;
        height: 80%;
        left: 50%;
        top: 10%;
        width: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .bottom-vertical {
        position: absolute;
        height: 80%;
        right: 12%;
        top: 10%;
        width: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }



    .ggrid {
        display: none;
        height: 380px;
        position: absolute;
        height: 80px;
        /* width: 100%; */
        left: 41px;
        top: 14px;
        background: url('../images/grid-techno.svg') no-repeat;
        background-size: contain;
    }

    .grid-col .gc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 9px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.2) -32.37%, rgba(37, 203, 255, 0.2) 93.03%), linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.105) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(2.32847px);
        width: 79.83px;
        height: 25.96px;
        border-radius: 6.65278px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9.97917px 8.64861px;
        gap: 13.31px;
    }

    .grid-col .gc.centerer {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        width: 129.73px;
        height: 43.24px;
        padding: 16.2161px 14.054px;
        gap: 21.62px;
        width: 129.73px;
        height: 43.24px;
        background: linear-gradient(90.4deg, #C94CF4 -32.37%, #25CBFF 93.03%), linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.105) 98.69%), rgba(255, 255, 255, 0.06);
        box-shadow: 0px 0px 61.6214px #57A6FC;
        backdrop-filter: blur(3.78377px);
        border-radius: 9.97917px;
    }

    .grid-col .gc:before {
        content: '';
        position: absolute;
        width: 79.17px;
        height: 26.61px;
        left: 50%;
        margin-left: -40px;
        top: 10px;
        background: #4C5DF4;
        filter: blur(32.266px);
        z-index: -1;
    }

    .grid-col .gc:first-child {
        position: absolute;
        top: 0;
        left: 0;
    }

    .grid-col .gc:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
    }

    .grid-col .gc.centerer {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -65px;
    }

    .grid-col .gc:nth-child(4) {
        position: absolute;
        top: 76px;
        left: 0;
    }

    .grid-col .gc:nth-child(5) {
        position: absolute;
        top: 76px;
        right: 0;
    }

    .jumbo {
        height: auto;
        min-height: 475px;
        position: relative;
        margin-bottom: 100px;
    }

    .jumbo .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.3) -32.37%, rgba(37, 203, 255, 0.3) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 10px;
    }

    .jumbo .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 1.42104px 11.3683px rgba(0, 0, 0, 0.25);
        max-width: 320px;
        margin: 0 auto;
    }

    #second-jumbo.jumbo {
        height: 570px;
        position: relative;
        margin-bottom: 100px;
    }

    #second-jumbo::before {
        content: '';
        position: absolute;
        width: 604px;
        height: 375px;
        left: 0;
        top: 0;
        background: linear-gradient(81.95deg, rgba(37, 203, 255, 0.2632) 14.78%, rgba(76, 133, 244, 0.28) 48.04%);
        filter: blur(186.5px);
        transform: rotate(90deg);
        z-index: -1;
    }

    #first-jumbo .to-image {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 50%;
        margin-left: -157px;
        top: 155px;
        background: linear-gradient(78.84deg, rgba(91, 9, 225, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.44091px);
        border-radius: 17.1818px;
        z-index: -1;
    }

    #first-jumbo img {
        position: relative;
        width: 423px;
        height: 387.08px;
        left: -57px;
        top: -45px;
    }

    #first-jumbo .gradient-circle {
        position: absolute;
        width: 314.87px;
        height: 314.43px;
        left: calc(50% - 314.87px/2 - 0.35px);
        top: calc(50% - 314.43px/2 + 1.07px);
        background: rgba(76, 93, 244, 0.3);
        filter: blur(58.3122px);
    }

    #second-jumbo::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 570px;
        left: 0;
        top: 0;
        background: linear-gradient(81.95deg, rgba(37, 203, 255, 0.2632) 14.78%, rgba(76, 133, 244, 0.28) 48.04%);
        filter: blur(186.5px);
        z-index: -1;
    }

    #second-jumbo .to-image {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 50%;
        margin-left: -157px;
        top: 260px;
        background: linear-gradient(78.84deg, rgba(91, 9, 225, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.44091px);
        border-radius: 17.1818px;
        z-index: -1;
    }

    #second-jumbo img {
        position: relative;
        width: 296px;
        height: 381.08px;
        left: 19px;
        top: -65px;
    }

    #second-jumbo .gradient-circle {
        position: absolute;
        position: absolute;
        width: 295.88px;
        height: 296.3px;
        left: calc(50% - 295.88px/2 + 9.44px);
        top: calc(50% - 296.3px/2 + 10.42px);
        background: #0997FF;
        filter: blur(54.7947px);
    }

    #third-jumbo.jumbo {
        height: 510px;
        position: relative;
        margin-bottom: 100px;
    }

    #third-jumbo::before {
        content: '';
        position: absolute;
        width: 1440px;
        height: 509.64px;
        left: 0;
        top: 126.75px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.2) 28.76%, rgba(201, 76, 244, 0.2) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    #third-jumbo .to-image {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 50%;
        margin-left: -157px;
        top: 200px;
        background: linear-gradient(78.84deg, rgba(225, 9, 165, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.44091px);
        border-radius: 17.1818px;
        z-index: -1;
    }

    #third-jumbo img {
        position: relative;
        width: 333.33px;
        height: 352.23px;
        left: 0px;
        top: -37.23px;
    }

    #third-jumbo .gradient-circle {
        position: absolute;
        width: 315.44px;
        height: 315px;
        left: calc(50% - 315.44px/2 + 0.22px);
        top: calc(50% - 315px/2 + 12.03px);
        background: #0989FF;
        filter: blur(58.4182px);
    }

    #third-jumbo .gradient-circle-sm {
        position: absolute;
        width: 315.44px;
        height: 315px;
        left: calc(50% - 315.44px/2 - 0.35px);
        top: calc(50% - 315px/2 + 1.07px);
        background: rgba(76, 93, 244, 0.3);
        filter: blur(58.4182px);
    }

    #fourth-jumbo.jumbo {
        height: 570px;
        position: relative;
        margin-bottom: 100px;
    }

    #fourth-jumbo::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 600px;
        left: 0px;
        top: 0px;
        background: linear-gradient(81.95deg, rgba(255, 37, 233, 0.7332) 14.78%, rgba(85, 0, 124, 0.78) 48.04%);
        filter: blur(186.5px);
        z-index: -1;
    }

    #fourth-jumbo .to-image {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 50%;
        margin-left: -157px;
        top: 180px;
        background: linear-gradient(78.84deg, rgba(225, 9, 165, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.44091px);
        border-radius: 17.1818px;
        z-index: -1;
    }

    #fourth-jumbo img {
        position: relative;
        width: 420.19px;
        height: 386.15px;
        left: -48px;
        top: -42px;
        filter: drop-shadow(0px 0px 24.0545px #C94CF4);
    }

    #fourth-jumbo .gradient-circle {
        position: absolute;
        width: 315.44px;
        height: 315px;
        left: calc(50% - 315.44px/2 - 0.35px);
        top: calc(50% - 315px/2 + 1.07px);
        background: rgba(76, 93, 244, 0.3);
        filter: blur(58.4182px);
    }

    #fourth-jumbo .gradient-circle-sm {
        position: absolute;
        width: 315.44px;
        height: 315px;
        left: calc(50% - 315.44px/2 - 0.35px);
        top: calc(50% - 315px/2 - 0.29px);
        background: #C94CF4;
        filter: blur(58.4182px);
    }

    #fourth-jumbo .gradient-circle-left {
        position: absolute;
        width: 143px;
        height: 144px;
        left: 46px;
        top: 146.5px;
        background: rgba(238, 133, 255, 0.77);
        mix-blend-mode: hard-light;
        filter: blur(27px);
    }

    #fifth-jumbo.jumbo {
        height: 520px;
        position: relative;
        margin-bottom: 5px;
    }

    #fifth-jumbo::before {
        content: '';
        position: absolute;
        width: 604px;
        height: 375px;
        left: 0px;
        top: 0px;
        background: linear-gradient(79.36deg, rgba(210, 51, 250, 0.78) 32.15%, rgba(0, 47, 211, 0.7332) 64.88%);
        filter: blur(186.5px);
        transform: rotate(90deg);
        z-index: -1;
    }

    #fourth-jumbo .gradient-circle-center {
        position: absolute;
        width: 81.9px;
        height: 82.47px;
        left: 148.91px;
        top: 35.22px;
        background: rgba(238, 133, 255, 0.77);
        mix-blend-mode: hard-light;
        filter: blur(15.4636px);
    }

    #fourth-jumbo .gradient-circle-right {
        position: absolute;
        width: 81.9px;
        height: 82.47px;
        left: 148.91px;
        top: 195.01px;
        background: rgba(238, 133, 255, 0.77);
        mix-blend-mode: hard-light;
        filter: blur(15.4636px);
    }

    #fifth-jumbo .to-image {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 50%;
        margin-left: -157px;
        top: 165px;
        background: linear-gradient(78.84deg, rgba(91, 9, 225, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.44091px);
        border-radius: 17.1818px;
        z-index: -1;
    }

    #fifth-jumbo .gradient-circle {
        position: absolute;
        width: 315.44px;
        height: 315px;
        left: calc(50% - 315.44px/2 - 0.35px);
        top: calc(50% - 315px/2 + 1.07px);
        background: rgba(76, 93, 244, 0.3);
        filter: blur(58.4182px);
    }

    #fifth-jumbo .gradient-circle-sm {
        position: absolute;
        width: 315.44px;
        height: 315px;
        left: calc(50% - 315.44px/2 + 0.22px);
        top: calc(50% - 315px/2 + 12.03px);
        background: #0989FF;
        filter: blur(58.4182px);
    }

    #fifth-jumbo img {
        position: relative;
        position: absolute;
        width: 315px;
        height: 342.49px;
        left: 0px;
        top: -27.49px;
    }

    #techno-form {
        height: 570px;
        margin-bottom: 0px;
        position: relative;
        z-index: 1;
    }

    #techno-form::before {
        content: '';
        position: absolute;
        width: 1055px;
        height: 550px;
        left: 0px;
        top: 0px;
        background: rgba(76, 93, 244, 0.2);
        filter: blur(150px);
        z-index: -1;
    }

    #techno-form::after {
        content: '';
        position: absolute;
        width: 460px;
        height: 646px;
        left: 50%;
        margin-left: -205px;
        top: -47px;
        background: url('../images/ask.svg') no-repeat;
        background-size: cover;
        transform: rotate(0deg);
        z-index: -1;
    }

    .subscribe-box .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90deg, rgba(50, 194, 255, 0.4) 0%, rgba(142, 122, 249, 0.4) 55.6%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .subscribe-box .text {
        max-width: 300px;
        margin: 0 auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
    }

    .subscribe-form-box {
        margin-top: 20px;
    }

    .subscribe-box {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    input.subscribe-field {
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.1) -32.37%, rgba(37, 203, 255, 0.1) 93.03%), linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        border: 1.53407px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        width: 315px;
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12.5995px;
        line-height: 11px;
        text-align: center;
        color: #FFFFFF;
        text-align: left;
        padding: 14px 24px;
        color: #FFFFFF;
    }

    .btn-subscribe {
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.6) -32.37%, rgba(37, 203, 255, 0.6) 93.03%), #FFFFFF;
        box-shadow: 7.38405px 0px 41.3507px rgba(38, 203, 255, 0.3), -7.38405px 0px 41.3507px rgba(154, 113, 248, 0.5);
        border-radius: 7.38405px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 11.8145px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 0;
        padding: 16px 52px;
        margin: 45px auto 0;
        width: 135px;
        height: 50px;
    }


    /*home*/
    #about-screen {
        position: relative;
        z-index: 8;
        height: 900px;
    }

    #about-screen::before {
        content: '';
        position: absolute;
        width: 907px;
        height: 375px;
        left: 0;
        top: 0;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.3) 35.46%, rgba(201, 76, 244, 0.3) 75.27%);
        filter: blur(122px);
        transform: matrix(0, 1, 1, 0, 0, 0);
        z-index: -1;
    }

    .card-about {
        width: 336px;
        margin: 0 auto 40px;
    }


    #subscribe {
        height: 632px;
    }

    .in-subscribe {
        position: relative;
        padding-top: 5px;
    }

    .in-subscribe::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 608px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.16) 35.46%, rgba(201, 76, 244, 0.16) 75.27%);
        filter: blur(40px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -3;
    }

    .subscribe-start .sale {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .align-xs-center {
        display: block !important;
        text-align: center;
    }

    span.sale-badge {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        background: linear-gradient(90.26deg, #C94CF4 45.29%, #25CBFF 100%);
        color: #FFFFFF;
        border-radius: 5px;
        padding: 6px 11px;
    }

    span.sale-badge>strong {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 5px;
    }

    .subscribe-start .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin: 15px 0 10px;
    }

    .subscribe-start .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
    }

    .subscribe-start .btn-order {
        margin: 0 auto;
        display: block;
    }

    .subscribe-end {
        position: relative;
        height: 195px;
        margin-top: 50px;
    }

    .subscribe-end::before {
        content: '';
        position: absolute;
        width: 597px;
        height: 268px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2) 35.46%, rgba(201, 76, 244, 0.2) 75.27%);
        filter: blur(40px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .laptop {
        position: absolute;
        width: 328px;
        height: 174px;
        left: 50%;
        margin-left: -164px;
        top: 20px;
        background: url('../images/laptop.svg') no-repeat;
        background-size: contain;
    }

    .arrow-lg {
        position: absolute;
        width: 336px;
        height: 187px;
        left: 50%;
        margin-left: -168px;
        top: 5px;
        background: url('../images/arrow-lg.svg') no-repeat;
        background-size: contain;
    }

    #work {
        position: relative;
        padding: 0px 0 70px;
    }


    .in-work {
        position: relative;
        padding-top: 30px;
    }

    .in-work .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 5px;
    }

    .work-box-first {
        margin-top: 40px;
    }

    .work-box {
        padding: 0px 0 0px;
        height: 545px;
        position: relative;
    }

    .work-box .work-box-start {
        padding-top: 5px;
        position: relative;
        height: 335px;
        margin-top: 5px;
    }

    .work-first::before {
        content: '';
        position: absolute;
        width: 334.94px;
        height: 334.94px;
        left: 50%;
        margin-left: -167px;
        top: 0px;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.63284px);
        border-radius: 19.4731px;
        z-index: -1;
    }

    .work-box-first::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 545px;
        left: 0px;
        top: 0px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.5) 28.76%, rgba(201, 76, 244, 0.5) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    .work-first img {
        position: relative;
        width: 326px;
        height: 326px;
        left: 50%;
        margin-left: -210px;
        top: 0px;
        border-radius: 11.8586px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .work-bounce-sm {
        position: absolute;
        width: 326.57px;
        height: 326.11px;
        left: calc(50% - 326.57px/2 + 0.09px);
        top: calc(50% - 326.11px/2 + 1.57px);
        background: rgba(76, 93, 244, 0.5);
        filter: blur(60.479px);
        z-index: -1;
    }

    .work-box-first .work-box-end,
    .work-box-third .work-box-end {
        padding: 0 30px 0;
        margin-top: 25px;
    }

    .work-box-end .pre-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.4em;
        background: linear-gradient(90.26deg, rgba(201, 76, 244, 0.4) 45.29%, rgba(37, 203, 255, 0.4) 100%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }

    .work-box-end .name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        color: #FFFFFF;
    }

    .work-box-end .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #D5D5D5;
    }

    .work-box-second {
        margin-top: 50px;
    }

    .work-box-second .work-box-end {
        padding: 0 30px 0;
        margin-top: 25px;
    }

    .work-box-second::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 567px;
        left: 0px;
        top: 0.07px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.5) 28.76%, rgba(201, 76, 244, 0.5) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    .work-second::before {
        content: '';
        position: absolute;
        width: 334.94px;
        height: 334.94px;
        left: 50%;
        margin-left: -167px;
        top: 0px;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.63284px);
        border-radius: 19.4731px;
        z-index: -1;
    }

    .work-second img {
        position: relative;
        width: 326px;
        height: 326px;
        left: 50%;
        margin-left: -160px;
        top: 0px;
        border-radius: 11px;
    }

    .work-box-third {
        margin-top: 50px;
    }

    .work-box-third .work-box-end {
        padding: 0 30px 0;
        margin-top: 25px;
    }

    .work-box-third::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 567px;
        left: 0px;
        top: 0.07px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.5) 28.76%, rgba(201, 76, 244, 0.5) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }
    .work-box .work-third {
        padding-top: 5px;
        position: relative;
        height: 360px;
        margin-top: 5px;
    }
    

    .work-card {
        width: 220px;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.46288px);
        border-radius: 12px;
        z-index: 1;
        position: relative;
        left: 50%;
        margin-left: -150px;
    }

    .work-card .card-image {
        width: 100%;
        height: 170px;
        background: linear-gradient(78.84deg, rgba(169, 148, 255, 0.65) 0%, rgba(62, 35, 169, 0.21) 98.69%);
        border-radius: 11px 11px 0px 0px;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        width: 100%;
        height: 150px;
        position: relative;
        top: 10px;
    }

    .work-card .card-body {
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(10.2917px);
        padding: 15px 17px;
    }

    .work-card .card-badge {
        background: linear-gradient(99.2deg, #363EFF -3.15%, #61AAFF 100%);
        box-shadow: 0px 0px 58.5px rgba(80, 139, 255, 0.49);
        border-radius: 5.41667px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.3em;
        color: #FFFFFF;
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 10px;
    }

    .work-card .card-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .work-card .card-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        max-width: 295px;
        color: #D1D1D1;
    }

    .work-card a {
        background: linear-gradient(90.4deg, #C94CF4 -32.37%, #25CBFF 93.03%), rgba(145, 68, 222, 0.76);
        border-radius: 0px 0px 15px 15px;
        display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 29px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
    }

    .work-card-copy {
        position: absolute;
        width: 220px;
        height: 358px;
        left: 50%;
        margin-left: -50px;
        top: 4px;
        transform: scale(0.9);
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        opacity: 0.5;
        backdrop-filter: blur(9.39842px);
        border-radius: 15px;
        z-index: -1;
    }


    .card-section {
        margin-top: 90px;
        height: 1570px;
        position: relative;
    }

    .card-section::before {
        content: '';
        position: absolute;
        width: 350px;
        height: 1575px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(186.5px);
    }

    .card-section-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        color: #FFFFFF;
        text-align: center;
    }

    .card-section-description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
        margin-bottom: 70px;
    }

    .card-invite {
        margin-bottom: 70px;
    }

    .card-invite-first>.in-card-invite::before {
        content: '';
        position: absolute;
        width: 337px;
        height: 347px;
        left: 0px;
        top: 0px;
        background: rgba(37, 203, 255, 0.46);
        filter: blur(99.7818px);
        z-index: -1;
        transition: all 0.5s;
    }

    .card-invite .rank {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        background: linear-gradient(78.84deg, rgba(72, 123, 255, 0.357) 0%, rgba(65, 65, 65, 0.147) 98.69%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .card-invite .percent {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 154px;
        letter-spacing: -0.03em;
        background: linear-gradient(272.72deg, rgba(66, 0, 255, 0.1) -47.34%, rgba(92, 157, 255, 0.1) 100.35%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        mix-blend-mode: normal;
    }

    .card-invite.card-invite-first p.description {
        max-width: 100%;
    }

    .card-invite p.description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #E8E8E8;
        margin-bottom: 30px;
    }

    .card-invite span.lines {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        background: linear-gradient(78.84deg, rgba(72, 123, 255, 0.357) 0%, rgba(65, 65, 65, 0.147) 98.69%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .card-invite span.lines-level {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .card-invite-second>.in-card-invite::before {
        content: '';
        position: absolute;
        width: 336px;
        height: 373px;
        left: 19px;
        top: 0px;
        background: rgba(225, 37, 255, 0.46);
        filter: blur(99.7818px);
        z-index: -1;
        transition: all 0.5s;
    }

    .card-invite-third>.in-card-invite::before {
        content: '';
        position: absolute;
        width: 336px;
        height: 373px;
        left: 19px;
        top: 0px;
        background: rgba(37, 255, 137, 0.46);
        filter: blur(99.7818px);
        z-index: -1;
        transition: all 0.5s;
    }


}