@media (max-width: 575px) {
    footer {
        display: none;
    }

    .btn-order {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 11.8145px;
        line-height: 18px;
        padding: 17px 47px;
        border: 0;
        background: linear-gradient(90.4deg, #C94CF4 -32.37%, #25CBFF 93.03%), #FFFFFF;
        box-shadow: 10px 0px 56px rgba(38, 203, 255, 0.3), -10px 0px 56px rgba(154, 113, 248, 0.5);
        border-radius: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    button#toggle-menu {
        display: block;
    }

    button#toggle-menu svg {
        width: 40px;
        height: 40px;
    }

    #primary-menu {
        display: none;
        background: #fff;
        width: 80%;
        position: absolute;
        /* display: flex; */
        left: 0px;
    }

    ul.nav-pills li.nav-item a {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 28px;
        color: #989898;
    }

    a.logotype {
        padding-left: 10px;
    }

    a.logotype img {
        width: 136px;
        height: 40px;
    }


    .primary-screen {
        height: 714px;
        position: relative;
        z-index: 1;
        padding-top: 108px;
        margin-bottom: 80px;
    }

    .primary-screen::before {
        content: '';
        position: absolute;
        width: 1000px;
        height: 540px;
        left: 50%;
        margin-left: -500px;
        top: 270px;
        border-radius: 500px;
        background: linear-gradient(152deg, rgba(37, 203, 255, 0.36) 35.82%, rgba(201, 76, 244, 0.38) 100%);
        filter: blur(186.5px);
        transform: rotate(90deg);
        z-index: 5;
    }

    .primary-screen::after {
        content: '';
        position: absolute;
        width: 1900px;
        height: 1200px;
        left: 50%;
        margin-left: -950px;
        top: 0;
        background: url('../images/tech-bg.png') no-repeat;
        background-size: contain;
        z-index: -1;
    }

    /* content: '';
        position: absolute;
        width: 1440px;
        height: 692px;
        left: calc(50% - 1440px/2);
        top: 150px;
        background: url('../images/illustration_bg.svg');
        z-index: -1; */


    .primary-screen-start-block {
        z-index: 7;
    }

    .primary-screen-end-block {
        position: relative;
        z-index: 7;
        margin-top: 90px;
    }

    .home-screen-end-block img {
        position: absolute;
        width: 680px;
        height: 980px;
        left: 50%;
        margin-left: -393px;
        top: -141px;
        z-index: 2;
    }

    .big-phone {
        z-index: 3;
        position: absolute;
        width: 730px;
        height: 800px;
        left: 50%;
        margin-left: -390px;
        top: -160px;
        background: url('../images/smart.png');
        background-size: cover;
    }

    .coin-1 {
        width: 160px;
        height: 159px;
        left: 415px;
        top: 198px;
        background-size: cover;
    }

    .coin-2 {
        width: 132px;
        height: 150px;
        right: 185px;
        bottom: 190px;
        background-size: contain;
    }

    .coin-3 {
        width: 128px;
        height: 128px;
        left: 204px;
        bottom: 408px;
        background-size: cover;
    }

    .primary-screen-end-block::before {
        content: '';
        position: absolute;
        width: 316px;
        height: 308.1px;
        left: 50%;
        margin-left: -158px;
        top: 0px;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.30272px);
        border-radius: 16.7454px;
        z-index: -1;
    }

    .primary-screen-end-block .gradient-circle {
        position: absolute;
        width: 550.77px;
        height: 550px;
        border-radius: 50%;
        right: 20px;
        top: 120px;
        background: rgba(76, 93, 244, 0.5);
        filter: blur(102px);
        z-index: 1;
    }

    .primary-screen-end-block .gradient-round {
        position: absolute;
        width: 695px;
        height: 559px;
        left: -137.38px;
        top: 92.39px;
        border-radius: 280px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.476) 49.72%, rgba(201, 76, 244, 0.4) 75.27%);
        filter: blur(92px);
        z-index: 2;
    }

    .primary-screen-end-block .gradient-img {
        position: absolute;
        width: 550.77px;
        height: 550px;
        left: 0;
        top: 0;
        background: rgba(76, 93, 244, 0.5);
        filter: blur(102px);
    }

    .primary-screen-start-block {
        padding-top: 35px;
    }

    .primary-screen-start-block .pre-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.4) -32.37%, rgba(37, 203, 255, 0.4) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        margin-bottom: 10px;
    }

    .primary-screen-start-block .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        text-shadow: 0px 2.99358px 23.9487px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
    }

    .primary-screen-start-block .title>strong {
        display: inline-block;
        margin-left: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        line-height: 110%;
    }

    .primary-screen-start-block .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        max-width: 330px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(93.41deg, #FFFFFF 44.08%, rgba(44, 198, 255, 0) 155.18%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
        margin: 0 auto 30px;
    }

    .primary-screen-start-block button {
        margin: 0 auto;
        display: block;
    }

    .primary-screen-end-block img.product-server {
        width: 348px;
        height: 304px;
        left: 50%;
        margin-left: -190px;
        top: -15px;
        position: absolute;
        z-index: 5;
    }

    .gradient-ellipse-left {
        position: absolute;
        width: 90px;
        height: 125px;
        left: 50px;
        top: 85px;
        background: #00B2FF;
        mix-blend-mode: screen;
        filter: blur(34.6072px);
        z-index: 8;
    }

    .gradient-ellipse-right {
        position: absolute;
        width: 86px;
        height: 175px;
        left: 277px;
        top: 55px;
        background: rgba(0, 178, 255, 0.6);
        mix-blend-mode: screen;
        filter: blur(34.6072px);
        z-index: 8;
    }

    .gradient-linear {
        display: none;
    }

    .gradient-ellipse-circle {
        position: absolute;
        width: 310px;
        height: 310px;
        left: 50%;
        top: 10px;
        margin-left: -155px;
        background: rgba(76, 144, 244, 0.9);
        filter: blur(56.9345px);
    }

    .product-section {
        position: relative;
        height: auto;
        z-index: 8;
        margin: 130px 0 100px;
        padding: 0;
    }

    .in-section-start {
        z-index: 8;
        position: relative;
    }

    .product-section .title-section {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.3) -32.37%, rgba(37, 203, 255, 0.3) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .product-section .text-section {
        max-width: 315px;
        margin: 0 auto 45px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 1.42104px 11.3683px rgba(0, 0, 0, 0.25);
    }

    .in-section-ai::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 600px;
        left: 0px;
        top: 12p5x;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.59) 28.76%, rgba(201, 76, 244, 0.59) 61.12%);
        filter: blur(200px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
    }

    .ai-bounce-sm {
        display: none;
    }

    .ai-bounce-xs {
        position: absolute;
        width: 205px;
        height: 205px;
        left: -20px;
        top: 135px;
        background: url('../images/bounce-xs.svg') no-repeat;
        background-size: contain;
        opacity: 1;
        z-index: 3;
    }

    .ai-bounce-md {
        position: absolute;
        width: 640px;
        height: 640px;
        left: 25px;
        top: 300px;
        opacity: 0.2;
        transform: rotate(-75deg);
        background: url('../images/bounce-md.svg') no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .in-section-game::before {
        content: '';
        width: 375px;
        height: 509px;
        left: 0px;
        top: 127px;
        background: linear-gradient(85.81deg, rgba(37, 203, 255, 0.5) 39.44%, rgba(76, 184, 244, 0.5) 89.61%);
        filter: blur(187px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
    }

    .game-bg-sm {
        position: absolute;
        width: 420px;
        height: 510px;
        left: 50%;
        margin-left: -100px;
        top: 184px;
        opacity: 0.2;
        filter: blur(5px);
        transform: rotate(330deg);
        background: url('../images/game-bg-sm.svg') no-repeat;
        z-index: 21;
    }

    .game-bg-md {
        position: absolute;
        width: 450px;
        height: 450px;
        left: -29px;
        top: 450px;
        opacity: 1;
        /* filter: blur(10px); */
        background: url('../images/game-bg-md.svg') no-repeat;
        z-index: 3;
        transform: rotate(347deg);
        background-size: cover;
    }

    .in-section-education::before {
        content: '';
        width: 375px;
        height: 600px;
        left: 0px;
        top: 127px;
        background: linear-gradient(85.81deg, rgba(255, 37, 246, 0.7) 39.44%, rgba(76, 123, 244, 0.7) 89.61%, rgba(244, 76, 197, 0.7) 89.61%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
        border-radius: 50%;
    }

    .resource-conus {
        position: absolute;
        width: 857px;
        height: 952px;
        left: -102px;
        top: 123px;
        background: url('../images/resource3.svg') no-repeat;
        background-size: contain;
        transform: rotate(358deg);
        z-index: -2;
    }

    .in-section-trading::before {
        content: '';
        width: 375px;
        height: 620px;
        left: 0px;
        top: 180px;
        background: linear-gradient(85.81deg, rgba(37, 203, 255, 0.8) 39.44%, rgba(76, 123, 244, 0.8) 89.61%);
        filter: blur(217px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
    }


    .tablet-md {
        position: absolute;
        width: 276px;
        height: 205px;
        left: 50%;
        margin-left: -138px;
        top: 450px;
        opacity: 1;
        background: url('../images/tablet-md.svg') no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .tablet-sm {
        width: 290px;
        height: 221px;
        left: 18px;
        top: 270.69px;

        opacity: 1;
        background: url('../images/tablet-sm.svg') no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .card {
        height: 280px;
        position: relative;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(4.025px);
        border-radius: 11.5px;
        border: 0;
        transition: all 0.5s;
    }

    .card-image {
        position: relative;
        width: 100%;
        height: 105px;
        overflow: hidden;
    }

    .card-image::before {
        content: '';
        background: linear-gradient(0deg, rgba(201, 76, 244, 0.34), rgba(201, 76, 244, 0.34));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 105px;
        border-radius: 11.5px 11.5px 0px 0px;
        transition: all 0.5s;
        z-index: 3;
    }

    .card img {
        border-radius: 11.5px 11.5px 0px 0px;
    }

    .card-body {
        padding: 20px 15px 5px;
    }

    .card-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;

    }

    .card-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 140%;
        color: #CBCBCB;
    }

    .product-section-start {
        padding-top: 0;
        z-index: 7;
    }

    .product-contact {
        position: relative;
        height: 635px;
        padding-top: 55px;
        padding-bottom: 55px;
        z-index: 8;
    }

    .product-contact-start .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90deg, rgba(50, 194, 255, 0.4) 0%, rgba(142, 122, 249, 0.4) 55.6%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 20px;
    }

    .product-contact-start .text {
        max-width: 325px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
        margin: 0 auto 80px;
    }

    .chart-lg {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 250px;
        margin-left: -250px;
        top: 25px;
        transform: rotate(0deg);
        opacity: 1;
        background: url('../images/chart-xs.svg') no-repeat center center;
        background-size: contain;
        z-index: 3;
    }

    .product-contact-end {
        position: absolute;
        top: 40%;
        z-index: 8;
    }

    .product-contact-end .percent {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 152.943px;
        line-height: 125px;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.2) -32.37%, rgba(37, 203, 255, 0.2) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        mix-blend-mode: normal;
        text-shadow: 0px 5.09811px 40.7849px rgba(0, 0, 0, 0.25);
        margin: 82px 0 10px;
    }

    .product-contact-end .description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #8A8A8E;
    }

    .product-contact-start .btn-order {
        position: absolute;
        bottom: 60px;
        left: 50%;
        /* margin: 0 auto; */
        margin-left: -62px;
    }

    .in-product-contact::before {
        content: '';
        position: absolute;
        width: 377px;
        height: 800px;
        left: 0px;
        top: 0px;
        background: linear-gradient(87.18deg, rgba(37, 111, 255, 0.5) 38.28%, rgba(191, 76, 244, 0.5) 91.79%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }


    .primary-screen-end-block img.techno-primary-image {
        width: 313px;
        height: 362px;
        left: 50%;
        margin-left: -183px;
        top: -31px;
        position: absolute;
        z-index: 5;
    }


    .primary-screen-start-block .title.techno-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        text-shadow: 0px 2.99358px 23.9487px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
    }

    .primary-screen-techno-end-block .gradient-round {
        position: absolute;
        width: 1px;
        height: 559px;
        left: -137.38px;
        top: 92.39px;
        border-radius: 280px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.476) 49.72%, rgba(201, 76, 244, 0.4) 75.27%);
        filter: blur(92px);
        z-index: 2;
    }

    .primary-screen-techno-end-block .gradient-circle {
        position: absolute;
        width: 307.43px;
        height: 307px;
        left: 50%;
        margin-left: -153px;
        top: 20px;
        background: rgba(76, 93, 244, 0.5);
        filter: blur(56.9345px);
        z-index: 1;
    }

    /* .techno-bg-gradient::after {
        content: '';
        position: absolute;
        width: 370px;
        height: 1375px;
        left: 0px;
        top: 10px;
        background-color: #f09;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(186.5px);
        transform: rotate(90deg);
    } */

    .fundation {
        height: auto;
        position: relative;
        z-index: 1;
        margin-top: 210px;
        margin-bottom: 110px;
    }

    .fundation::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 1px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(186.5px);
        transform: rotate(90deg);
        z-index: -1;
    }

    .in-fundation {
        margin-top: 70px;
        text-align: center;
        margin-bottom: 30px;
    }

    .in-fundation .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
    }

    .in-fundation .title strong {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90deg, rgba(50, 194, 255, 0.4) 0%, rgba(142, 122, 249, 0.4) 55.6%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .in-fundation .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
    }

    .grid-col {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    .lines .top-horizontal {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 11px;
        height: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .center-horizontal {
        position: absolute;
        width: 76%;
        left: 12%;
        top: 50%;
        height: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .bottom-horizontal {
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: 9px;
        height: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .top-vertical {
        position: absolute;
        height: 80%;
        left: 12%;
        top: 10%;
        width: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .center-vertical {
        position: absolute;
        height: 80%;
        left: 50%;
        top: 10%;
        width: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }

    .lines .bottom-vertical {
        position: absolute;
        height: 80%;
        right: 12%;
        top: 10%;
        width: 0.5px;
        opacity: 0.33;
        background-color: #AAAAAA;
    }



    .ggrid {
        display: none;
        height: 380px;
        position: absolute;
        height: 80px;
        /* width: 100%; */
        left: 41px;
        top: 14px;
        background: url('../images/grid-techno.svg') no-repeat;
        background-size: contain;
    }

    .grid-col .gc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 9px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.2) -32.37%, rgba(37, 203, 255, 0.2) 93.03%), linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.105) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(2.32847px);
        width: 79.83px;
        height: 25.96px;
        border-radius: 6.65278px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9.97917px 8.64861px;
        gap: 13.31px;
    }

    .grid-col .gc.centerer {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        width: 129.73px;
        height: 43.24px;
        padding: 16.2161px 14.054px;
        gap: 21.62px;
        width: 129.73px;
        height: 43.24px;
        background: linear-gradient(90.4deg, #C94CF4 -32.37%, #25CBFF 93.03%), linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.105) 98.69%), rgba(255, 255, 255, 0.06);
        box-shadow: 0px 0px 61.6214px #57A6FC;
        backdrop-filter: blur(3.78377px);
        border-radius: 9.97917px;
    }

    .grid-col .gc:before {
        content: '';
        position: absolute;
        width: 79.17px;
        height: 26.61px;
        left: 50%;
        margin-left: -40px;
        top: 10px;
        background: #4C5DF4;
        filter: blur(32.266px);
        z-index: -1;
    }

    .grid-col .gc:first-child {
        position: absolute;
        top: 0;
        left: 0;
    }

    .grid-col .gc:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
    }

    .grid-col .gc.centerer {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -65px;
    }

    .grid-col .gc:nth-child(4) {
        position: absolute;
        top: 76px;
        left: 0;
    }

    .grid-col .gc:nth-child(5) {
        position: absolute;
        top: 76px;
        right: 0;
    }

    .techno-bg-gradient {
        position: relative;
    }

    .techno-bg-gradient::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 1800px;
        left: 50%;
        margin-left: -200px;
        top: -250px;
        border-radius: 1757px;
        background: linear-gradient(152deg, rgba(37, 203, 255, 0.26) 35.82%, rgba(201, 76, 244, 0.28) 100%);
        filter: blur(186.5px);
        z-index: -3;
    }


    .jumbo {
        margin-bottom: 100px;
    }

    .jumbo .to-image {
        position: relative !important;
        width: 100% !important;
        max-width: 315px !important;
        height: 315px !important;
        max-height: 315px !important;
        margin: 0 auto;
    }

    .jss-box-right {
        max-width: 100%;
        margin-left: auto;
    }

    .jss-box-left {
        max-width: 100%;
        margin-right: auto;
    }

    .jumbo .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.3) -32.37%, rgba(37, 203, 255, 0.3) 93.03%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
    }

    .jumbo .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 1.42104px 11.3683px rgba(0, 0, 0, 0.25);
        text-align: center;
        margin: 0 auto 50px;
    }

    #first-jumbo::before {
        content: '';
        position: absolute;
        width: 765px;
        height: 310px;
        left: 0;
        top: 25px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.2) 28.76%, rgba(201, 76, 244, 0.2) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    #first-jumbo img {
        position: relative;
        width: 348px;
        height: 348px;
        left: -20px;
        top: -35px;
    }

    #first-jumbo .gradient-circle {
        position: absolute;
        width: 330px;
        height: 330px;
        left: 0;
        top: calc(50% - 330px/2 - 0.5px);
        background: #C94CF4;
        opacity: 0.5;
        filter: blur(102px);
    }

    #first-jumbo .gradient-circle-sm {
        position: absolute;
        width: 0px;
        height: 0px;
        /* left: calc(50% - 330px/2 - 0.61px);
        top: calc(50% - 330px/2 + 1.87px); */
        background: rgba(76, 93, 244, 0.3);
        filter: blur(102px);
    }

    #second-jumbo .text {
        margin-bottom: 70px;
    }


    #second-jumbo::before {
        content: '';
        position: absolute;
        width: 765px;
        height: 310px;
        left: 0;
        top: 25px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.2) 28.76%, rgba(201, 76, 244, 0.2) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    #second-jumbo img {
        position: absolute;
        width: auto;
        height: 359px;
        top: -43px;
        right: 0px;
    }

    #second-jumbo .gradient-circle {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0px;
        left: 0px;
        border-radius: 300px;
        background: #0997FF;
        filter: blur(55px);
    }

    #second-jumbo .gradient-circle-sm {
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(133, 203, 255, 0.77);
        filter: blur(29.285228729248047px);
        top: -22px;
        left: 132px;
        z-index: 2;
    }

    #third-jumbo {
        margin-bottom: 145px;
    }


    #third-jumbo::before {
        content: '';
        position: absolute;
        width: 765px;
        height: 310px;
        left: 0;
        top: 25px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.2) 28.76%, rgba(201, 76, 244, 0.2) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    #third-jumbo .to-image {
        background: linear-gradient(78.84deg, rgba(225, 9, 165, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(9.5px);
        border-radius: 30px;
        z-index: -1;
    }

    #third-jumbo .text {
        margin-bottom: 90px;
    }

    #third-jumbo img {
        position: relative;
        width: 315px;
        height: 371px;
        left: 0px;
        top: -57px;
    }

    #third-jumbo .gradient-circle {
        position: absolute;
        width: 315px;
        height: 315px;
        left: calc(50% - 315px/2 + 0.39px);
        top: calc(50% - 315px/2 + 21px);
        background: #0989FF;
        filter: blur(102px);
    }

    #third-jumbo .gradient-circle-sm {
        position: absolute;
        width: 315px;
        height: 315px;
        left: calc(50% - 315px/2 + 0.39px);
        top: calc(50% - 315px/2 + 21px);
        background: rgba(76, 93, 244, 0.3);
        filter: blur(102px);
    }

    #fourth-jumbo {
        margin-bottom: 150px;
    }

    #fourth-jumbo::before {
        content: '';
        position: absolute;
        border-radius: 400px;
        background: linear-gradient(151deg, rgba(255, 37, 233, 0.73) 0%, rgba(85, 0, 124, 0.78) 100%);
        filter: blur(186.5px);
        width: 700px;
        height: 375px;
        transform: rotate(90deg);
        flex-shrink: 0;
        left: 50%;
        margin-left: -350px;
        top: 280px;
        z-index: -1;
    }

    #fourth-jumbo .to-image {
        background: linear-gradient(78.84deg, rgba(225, 9, 165, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(9.5px);
        border-radius: 30px;
        z-index: -1;
    }

    #fourth-jumbo img {
        position: relative;
        width: 360px;
        height: 340px;
        left: -22px;
        top: -13px;
    }

    #fourth-jumbo .gradient-circle {
        position: absolute;
        width: 315px;
        height: 315px;
        left: calc(50% - 315px/2 + 0.39px);
        top: calc(50% - 315px/2 + 21px);
        border-radius: 315.441px;
        background: rgba(76, 93, 244, 0.30);
        filter: blur(58.41818618774414px);
    }

    #fourth-jumbo .gradient-circle-sm {
        position: absolute;
        width: 315px;
        height: 315px;
        left: calc(50% - 315px/2 + 0.39px);
        top: calc(50% - 315px/2 + 21px);
        border-radius: 315.441px;
        background: #C94CF4;
        filter: blur(58.41818618774414px);
    }

    #fourth-jumbo .gradient-circle-left {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 26px;
        top: 112px;
        background: rgba(238, 133, 255, 0.77);
        mix-blend-mode: hard-light;
        filter: blur(27px);
    }

    #fourth-jumbo .gradient-circle-center {
        position: absolute;
        width: 100px;
        height: 100px px;
        left: 158px;
        top: 40px;
        background: rgba(238, 133, 255, 0.77);
        mix-blend-mode: hard-light;
        filter: blur(27px);
    }

    #fourth-jumbo .gradient-circle-right {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 146px;
        top: 208px;
        background: rgba(238, 133, 255, 0.77);
        mix-blend-mode: hard-light;
        filter: blur(27px);
    }

    #fifth-jumbo .text {
        margin-bottom: 90px;
    }

    #fifth-jumbo::before {
        content: '';
        position: absolute;
        width: 765px;
        height: 310px;
        left: 0;
        top: 25px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.2) 28.76%, rgba(201, 76, 244, 0.2) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    #fifth-jumbo .to-image {
        background: linear-gradient(78.84deg, rgba(225, 9, 165, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(9.5px);
        border-radius: 30px;
        z-index: -1;
    }

    #fifth-jumbo img {
        position: relative;
        width: 315px;
        height: 371px;
        left: 0px;
        top: -55px;
    }

    #fifth-jumbo .gradient-circle {
        position: absolute;
        width: 315px;
        height: 315px;
        left: calc(50% - 315px/2 + 0.39px);
        top: calc(50% - 315px/2 + 21px);
        border-radius: 315.441px;
        background: #0989FF;
        filter: blur(58.41817855834961px);
    }

    #fifth-jumbo .gradient-circle-sm {
        position: absolute;
        width: 315px;
        height: 315px;
        left: calc(50% - 315px/2 + 0.39px);
        top: calc(50% - 315px/2 + 21px);
        border-radius: 315.441px;
        background: rgba(76, 93, 244, 0.30);
        filter: blur(58.41817855834961px);
    }

    #techno-form {
        height: 570px;
        margin-bottom: 0px;
        position: relative;
        z-index: 1;
    }

    #techno-form::before {
        content: '';
        position: absolute;
        width: 1055px;
        height: 550px;
        left: -100px;
        top: 0px;
        background: rgba(76, 93, 244, 0.2);
        filter: blur(150px);
        z-index: -1;
    }

    #techno-form::after {
        content: '';
        position: absolute;
        width: 300px;
        height: 300px;
        left: 50%;
        margin-left: -150px;
        top: 110px;
        background: url('../images/ask.svg') no-repeat;
        background-size: contain;
        transform: rotate(0deg);
        z-index: -1;
    }

    .subscribe-box .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(90deg, rgba(50, 194, 255, 0.4) 0%, rgba(142, 122, 249, 0.4) 55.6%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 5px;
    }

    .subscribe-box .text {
        max-width: 300px;
        margin: 0 auto 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
    }

    .subscribe-form-box {
        margin-top: 20px;
    }

    .subscribe-box {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    input.subscribe-field {
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.1) -32.37%, rgba(37, 203, 255, 0.1) 93.03%), linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        border: 1.53407px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        width: 315px;
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12.5995px;
        line-height: 11px;
        text-align: center;
        color: #FFFFFF;
        text-align: left;
        padding: 14px 24px;
        color: #FFFFFF;
    }

    .btn-subscribe {
        background: linear-gradient(90.4deg, rgba(201, 76, 244, 0.6) -32.37%, rgba(37, 203, 255, 0.6) 93.03%), #FFFFFF;
        box-shadow: 7.38405px 0px 41.3507px rgba(38, 203, 255, 0.3), -7.38405px 0px 41.3507px rgba(154, 113, 248, 0.5);
        border-radius: 7.38405px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 11.8145px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 0;
        padding: 16px 52px;
        margin: 20px auto 0;
        width: 135px;
        height: 50px;
    }


    /*home*/
    #about-screen {
        position: relative;
        z-index: 8;
        height: 900px;
        margin-top: 330px;
    }

    #about-screen::before {
        content: '';
        position: absolute;
        width: 480px;
        height: 900px;
        left: 30px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.3) 35.46%, rgba(201, 76, 244, 0.3) 75.27%);
        filter: blur(122px);
        z-index: -1;
    }

    .card-about {
        width: 375px;
        margin: 0 auto 40px;
    }

    .card-about:nth-child(2) .card-about-body::before {
        content: '';
        position: absolute;
        width: 170px;
        height: 220px;
        right: -25px;
        top: -58px;
    }

    .card-about:nth-child(3) .card-about-body::before {
        content: '';
        position: absolute;
        width: 201px;
        height: 236px;
        right: -27px;
        top: -75px;
    }

    .card-about:nth-child(2) .card-about-body .name {
        font-size: 27px;
    }

    .card-about-body .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: left;
        letter-spacing: 0.3px;
        color: #E8EDFF;
        margin-bottom: 0;
        z-index: 3;
        position: relative;
    }

    #subscribe {
        height: 632px;
    }

    .in-subscribe {
        position: relative;
        padding-top: 5px;
    }

    .in-subscribe::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 608px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.16) 35.46%, rgba(201, 76, 244, 0.16) 75.27%);
        filter: blur(40px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -3;
    }

    .subscribe-start .sale {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .align-xs-center {
        display: block !important;
        text-align: center;
    }

    span.sale-badge {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        background: linear-gradient(90.26deg, #C94CF4 45.29%, #25CBFF 100%);
        color: #FFFFFF;
        border-radius: 5px;
        padding: 6px 11px;
    }

    span.sale-badge>strong {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 5px;
    }

    .subscribe-start .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin: 15px 0 10px;
    }

    .subscribe-start .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
    }

    .subscribe-start .btn-order {
        margin: 0 auto;
        display: block;
    }

    .subscribe-end {
        position: relative;
        height: 195px;
        margin-top: 50px;
    }

    .subscribe-end::before {
        content: '';
        position: absolute;
        width: 597px;
        height: 268px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2) 35.46%, rgba(201, 76, 244, 0.2) 75.27%);
        filter: blur(40px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .laptop {
        position: absolute;
        width: 90%;
        height: 275px;
        left: 50%;
        margin-left: -45%;
        top: 20px;
        background-size: contain;
    }

    .arrow-lg {
        position: absolute;
        width: 90%;
        height: 270px;
        left: 50%;
        margin-left: -45%;
        top: 5px;
        background-size: contain;
    }

    #work {
        position: relative;
        padding: 0px 0 0px;
        margin-top: 45px;
    }


    .in-work {
        position: relative;
        padding-top: 30px;
    }

    .in-work .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 5px;
    }

    .work-box-first {
        margin-top: 40px;
    }

    .work-box-first::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 400px;
        left: 50%;
        margin-left: -200px;
        top: 0px;
        border-radius: 326.569px;
        background: rgba(76, 93, 244, 0.50);
        filter: blur(60.47896194458008px);
        z-index: -1;
    }

    .work-box {
        padding: 0px 0 0px;
        height: auto;
        position: relative;
        margin-bottom: 100px;
    }

    .work-box .work-box-start {
        padding-top: 5px;
        position: relative;
        height: auto;
        margin-top: 5px;
    }

    .work-first::before {
        width: 0;
        height: 0;
    }


    .work-first img {
        position: relative;
        width: 100%;
        max-width: 550px;
        height: auto;
        top: 5px;
        border-radius: 11.8586px;
    }

    .work-box-image {
        position: relative;
        width: 100%;
        height: auto;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(11px);
        border-radius: 34px;
        z-index: -1;
    }

    .work-bounce-sm {
        position: absolute;
        width: 400px;
        height: 545px;
        left: 50%;
        margin-left: -200px;
        top: 0px;
        border-radius: 545px;
        background: linear-gradient(159deg, rgba(37, 203, 255, 0.50) 0%, rgba(201, 76, 244, 0.50) 100%);
        filter: blur(247px);
        z-index: -1;
    }



    .work-box-first .work-box-end,
    .work-box-second .work-box-end .work-box-third .work-box-end {
        padding: 0 15px 0;
        margin: 60px auto 0px;
        width: auto;
    }

    .work-box-end .pre-text {
        margin: 45px 0 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.4em;
        background: linear-gradient(90.26deg, rgba(201, 76, 244, 0.4) 45.29%, rgba(37, 203, 255, 0.4) 100%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }

    .work-box-end .name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
    }

    .work-box-end .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #D5D5D5;
    }

    .work-box-second {
        margin-top: 70px;
    }

    .work-box-second .work-box-end {
        padding: 0 15px 0;
        margin: 60px auto 0px;
        width: auto;
    }

    .work-box-second::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 400px;
        left: 50%;
        margin-left: -200px;
        top: 0px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.5) 28.76%, rgba(201, 76, 244, 0.5) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    .work-second::before {
        width: 0;
        height: 0;
    }

    .work-second img {
        position: relative;
        width: 100%;
        max-width: 550px;
        height: auto;
        top: 5px;
        border-radius: 11.8586px;
    }

    .work-box-third {
        margin-top: 50px;
    }

    .work-box-third .work-box-end {
        padding: 0 15px 0;
        margin: 35px auto 0px;
        width: auto;
    }

    .work-box-third::before {
        content: '';
        position: absolute;
        width: 375px;
        height: 567px;
        left: 0px;
        top: 0.07px;
        background: linear-gradient(88.7deg, rgba(37, 203, 255, 0.5) 28.76%, rgba(201, 76, 244, 0.5) 61.12%);
        filter: blur(247px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    .work-box .work-third {
        padding-top: 5px;
        position: relative;
        height: auto;
        margin-top: 5px;
    }


    .work-card {
        width: 240px;
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(5.46288px);
        border-radius: 12px;
        z-index: 1;
        position: relative;
    }

    .work-card .card-image {
        width: 100%;
        height: 170px;
        background: linear-gradient(78.84deg, rgba(169, 148, 255, 0.65) 0%, rgba(62, 35, 169, 0.21) 98.69%);
        border-radius: 11px 11px 0px 0px;
    }

    .work-card .work-card-img {
        width: 100%;
        height: 155px;
        position: relative;
        top: 10px;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        width: 100%;
        height: 105px;
        position: relative;
        top: 0px;
    }

    .work-card .card-body {
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(0);
        padding: 15px 17px;
    }

    .work-card .card-badge {
        background: linear-gradient(99.2deg, #363EFF -3.15%, #61AAFF 100%);
        box-shadow: 0px 0px 58.5px rgba(80, 139, 255, 0.49);
        border-radius: 5.41667px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.3em;
        color: #FFFFFF;
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 10px;
    }

    .work-card .card-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    .work-card .card-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        max-width: 190px;
        color: #D1D1D1;
    }

    .work-card a {
        background: linear-gradient(90.4deg, #C94CF4 -32.37%, #25CBFF 93.03%), rgba(145, 68, 222, 0.76);
        border-radius: 0px 0px 15px 15px;
        display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 29px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
    }

    .work-card-copy {
        position: absolute;
        width: 220px;
        height: 380px;
        left: 50%;
        margin-left: -15%;
        top: 1px;
        transform: scale(0.8);
        background: linear-gradient(78.84deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 98.69%), rgba(255, 255, 255, 0.06);
        opacity: 0.5;
        backdrop-filter: blur(9.39842px);
        border-radius: 15px;
        z-index: -1;
    }


    .card-section {
        margin-top: 0px;
        height: 1570px;
        position: relative;
    }

    .card-section::before {
        content: '';
        position: absolute;
        width: 350px;
        height: 1575px;
        left: 0px;
        top: 0px;
        background: linear-gradient(82.66deg, rgba(37, 203, 255, 0.2632) 49.72%, rgba(201, 76, 244, 0.28) 75.27%);
        filter: blur(186.5px);
        margin-left: 0;
    }

    .card-section-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        color: #FFFFFF;
        text-align: center;
    }

    .card-section-description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(88.74deg, rgba(201, 76, 244, 0.3) -8.16%, rgba(37, 203, 255, 0.3) 58.17%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 2.49702px 19.9761px rgba(0, 0, 0, 0.25);
        margin-bottom: 70px;
    }

    .card-invite {
        margin-bottom: 70px;
    }

    .card-invite-first>.in-card-invite::before {
        content: '';
        position: absolute;
        width: 337px;
        height: 347px;
        left: 0px;
        top: 0px;
        background: rgba(37, 203, 255, 0.46);
        filter: blur(99.7818px);
        z-index: -1;
        transition: all 0.5s;
    }

    .card-invite .rank {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        background: linear-gradient(78.84deg, rgba(72, 123, 255, 0.357) 0%, rgba(65, 65, 65, 0.147) 98.69%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .card-invite .percent {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 124px;
        line-height: 154px;
        letter-spacing: -0.03em;
        background: linear-gradient(272.72deg, rgba(66, 0, 255, 0.1) -47.34%, rgba(92, 157, 255, 0.1) 100.35%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        mix-blend-mode: normal;
    }

    .card-invite.card-invite-first p.description {
        max-width: 100%;
    }

    .card-invite p.description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #E8E8E8;
        margin-bottom: 30px;
        max-width: 100% !important;
    }

    .card-invite span.lines {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        background: linear-gradient(78.84deg, rgba(72, 123, 255, 0.357) 0%, rgba(65, 65, 65, 0.147) 98.69%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .card-invite span.lines-level {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .card-invite-second>.in-card-invite::before {
        content: '';
        position: absolute;
        width: 336px;
        height: 373px;
        left: 19px;
        top: 0px;
        background: rgba(225, 37, 255, 0.46);
        filter: blur(99.7818px);
        z-index: -1;
        transition: all 0.5s;
    }

    .card-invite-third>.in-card-invite::before {
        content: '';
        position: absolute;
        width: 336px;
        height: 373px;
        left: 19px;
        top: 0px;
        background: rgba(37, 255, 137, 0.46);
        filter: blur(99.7818px);
        z-index: -1;
        transition: all 0.5s;
    }

    .in-roadmap {
        position: relative;
        height: auto;
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .in-road-card {
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.5s;
    }

    .in-road-card::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 155px;
        background: rgba(225, 9, 165, 0.04);
        border-radius: 10px;
        z-index: 3;
    }

    .road-card-body {
        position: absolute;
        top: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 155px;
        z-index: 5;
        padding: 10px 10px 0;
        border-radius: 10px;
    }

    .road-card-body .tag {
        background: linear-gradient(0deg, #C94CF4, #C94CF4), #4B79EF;
        border-radius: 3.9px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
        padding: 2px 6px;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .road-card-body .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 13px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
        max-width: 210px;
    }

    .road-card-body .text {
        margin-bottom: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 160%;
        color: #DBDBDB;
    }

    ul.nav-tabs-map {
        margin-top: 40px;
        display: flex;
        flex-wrap: nowrap;
    }

    ul.nav-tabs-map li.nav-item {
        margin-bottom: 0;
        text-align: right;
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    ul.nav-tabs-map li.nav-item button {
        background: rgba(201, 76, 244, 0.4);
        border-radius: 10px !important;
        width: 69px;
        height: 27px;
        border-radius: 50%;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 0;
        margin: 0 auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        padding: 5px;
    }

}